# Application position inside the container
APP_PATH=/remote_fs_app

# Client
RFS__MOUNT_POINT=/mnt/remote-fs
# RFS__SERVER_URL=http://<IP>:8080
RFS__SERVER_URL=http://server:8080
# RFS__SERVER_URL=http://localhost:8080 # for local testing with server on localhost

XDG_RUNTIME_DIR=/mnt/wslg/runtime-dir/
WAYLAND_DISPLAY=wayland-0
DISPLAY=:0

# Server
DATABASE_PATH=database/db.sqlite

# RFS__SERVER_HOST=0.0.0.0
RFS__SERVER_HOST=server
# RFS__SERVER_HOST=localhost # for local testing with server on localhost
RFS__SERVER_PORT=8080 
RFS__FILESYSTEM_ROOT=/remote_fs

JWT__KEY=your_jwt_secret_key_here

# Both
# RFS__LOGGING__LOG_TARGETS=all
# RFS__LOGGING__LOG_FORMAT=full
# RFS__LOGGING__LOG_LEVEL=info
# RFS__LOGGING__LOG_PATH=logs
# RFS__LOGGING__LOG_FILE=remote_fs
# RFS__LOGGING__LOG_ROTATION=daily